.intro{
	padding: 5% 2% 3%;
	background: url(images/purpattern.png) repeat;
	color: #fff;
}
.tsmall {
	color: #F9F5E7;
	font-weight: 50;
}
.tt{
	color: #fff;
}
.pad
{	padding: 20px;
}
.download-app {
	background-color: #AED9E0;
	padding: 1% 0;
}
.padn{
	padding-top: 15%;
}
hr{
	border: 2px solid white;
}
.info {
	background: #ffa753 url(images/skyline.png) repeat-x bottom;
	padding: 7% 0;
	margin-top: 
}
.info small{
	color: white;
}
.tab-pane {
	padding: 3% 1% 0 0;
}
.info a{
	color: #fff;
}
.padd{
	padding: 20% 3% 0 0;
}
.foot{
	background: url(images/s.png) repeat;
	padding: 30px 0 0 40px;
	color: #fff;
}
.foot a{
	color: #fff;
}
.foot a:hover{
	color: #ff5;
	text-decoration: none;
}