.intro{
	padding: 5% 2% 3%;
	background: url(images/purpattern.png) repeat;
	color: #fff;
}
.tsmall {
	color: #F9F5E7;
	font-weight: 50;
}
.tt{
	color: #fff;
}
.pad
{	padding: 20px;
}
.tpad
{	padding: 10px;
}
.download-app {
	background-color: #AED9E0;
	padding: 1% 0;
}
.padn{
	padding-top: 15%;
}
hr{
	border: 2px solid white;
}
.info {
	background: #ffa753 url(images/skyline.png) repeat-x bottom;
	padding: 7% 0;
	margin-top: 
}
.info small{
	color: white;
}
.tab-pane {
	padding: 3% 1% 0 0;
}
.info a{
	color: #fff;
}
.padd{
	padding: 20% 3% 0 0;
}
.foot{
	background: url(images/s.png) repeat;
	padding: 30px 0 0 40px;
	color: #fff;
}
.foot a{
	color: #fff;
}
.foot a:hover{
	color: #ff5;
	text-decoration: none;
}
.unknown{
	background-color: white;
	padding-bottom: 40%;
}
.featured h2{
	color: brown;
}
.featured hr{
	border-color: brown;
}
.stars{
	padding-left: 50px;
}
.featured p{
	padding-left: 45px;
}
.cc{
	padding-left: 35px;
}
.featured{
	border-color: #F5F4F0;
	padding: 5% 0 10% 0;
}
.blog hr{
	border: 2px solid orange;
}
.blog a:hover{
	text-decoration: none;
}


.slidebar{
	background-color: #E9EAED;
	margin-top: 20px;
	border-radius: 10px;
}
.im{
	   border:1px solid #021a40;
}
.home{
	position: relative;
}
/*
.home h2{
	position: absolute; 
	top: 80px;
	color: white;
}
*/
.over{
	position: absolute;
	top: 80px;
	left: 40px;
	height: 400px;
	width: 500px;
	background-color: rgba(44,22,12,0.2);
	border-radius: 30px;
}
.over h2{
	text-align: center;
	color: white;
}
.home p{
	color: white;
	text-align: center;

}
.inpu{
	margin: 0 auto;
width: 280px;
}
.inp2{
	width: 10px;
	padding-left: 25px;
}
.over hr{
	max-width: 80%;
	border-width: 1px;
}
select{
	margin-left: 38%;
}
.im:hover{
	border-width: 20px;
	transform: translate(-25px,0px);
	transition: all 0.5s ease-out;
};