.intro{
	padding: 5% 2% 3%;
	background: url(images/purpattern.png) repeat;
	color: #fff;
}
.tsmall {
	color: #F9F5E7;
	font-weight: 50;
}
.tt{
	color: #fff;
}
.pad
{	padding: 20px;
}
.download-app {
	background-color: #AED9E0;
}
.padn{
	padding-top: 25%;
}
hr{
	border: 2px solid white;
}
.info {
	background: #ffa753 url(images/skyline.png) repeat-x;
	padding: 7% 0;
}